html {
    margin: 0;
    font-size: 10px
}


header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.left {
    float: left;
    padding-left: 5rem;
}

.right {
    float: right;
    padding-right: 5rem;
}

main {
    margin-top: 60px;
    display: block;
    margin: 22.5vh auto;
    text-align: center;
}



#search-bar {
    border: 10px;
}


footer {
    
}